@import "partials/blueprint";

body {
  color: #3A3000;
}

.rubylove {
  color:#C31E2A !important;
  font-size:1.5em;
}
#ribbon {
  position:absolute;
  width:100%;
  min-width:950px;
  top:0;
}
.container {
  margin: 0 0 0 106px;
}
#header {
  left: 765px;
  position: absolute;
  top: 100px;
}
#header .container {
  width: 250px;
  margin: 0;
}
#header a, #header p {
  font-family: "chainprinter-1", "chainprinter-2", arial;
  display:block;
  font-size: 16px;
  padding:0 20px 0 20px;
  margin:0;
  height:35px;
  color:#ccc;
}
#header a {
  color: #B9A046;
  text-decoration: none;
}
#header p {
  color: black;
  margin-top: 2em;
}

#header a.last {
  border-right:none;
}
#header a:hover {
  color: #fff;
}
#main {
  padding-top:40px;
}
#sidebar {
  color:#fff;
}
#sidebar h3 {
  color: #D5BA51;
  font-family: "chinese-rocks-1", "chinese-rocks-2", helvetica, arial, sans-serif;
  font-size: 30px;
  margin-bottom: 15px;
  margin-top: 40px;
}
#sidebar a {
  color: #D5BA51;
  font-weight: bold;
  text-decoration: none;
}
#sidebar a:hover {
  text-decoration: underline;
}

#content {
  background: #fff;
  -webkit-box-shadow: #fff 0 0 5px;
  -moz-box-shadow: #fff 0 0 5px;
  -ms-box-shadow: #fff 0 0 5px;
  -o-box-shadow: #fff 0 0 5px;
  box-shadow: #fff 0 0 5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

ul.posts li.post {
  list-style: none;
  margin-bottom: 4em;
}

.post ul {
  margin-left: 80px;
}

#content p img {
  max-width: 100%;
}

#content p {
  font-size: 13px;
  margin: 1em 35px 1em 70px;
}

#content a {
  color: #95232d;
  font-weight: bold;
  text-decoration: none;
}

#content a:hover {
  text-decoration: underline;
}

#content h1,
#content h2,
#content h3 {
  margin: .5em 35px .3em 70px;
}

h1 {
  font-size: 60px;
}

.post li {
  font-size: 13px;
}

#content h3 ~ h3 {
  color: #7E6C1E;
  font-size: 13px;
  font-weight: bold;
  margin: 2em 35px 1em 70px;
}

.date {
  font-size: 0.5em;
  color: #D5BA51;
  margin: -2px 0 0 10px;
  white-space: nowrap;
}

.nolist li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nolist .date {
  color: #fff;
  font-size: 100%;
  margin: 0;
}

.nolist .date:after {
  content: ":";
}

.orga {
  height: 90px;
  width: 300px;
  margin-bottom:20px;
}
.orga img {
  float: left;
  margin: 0 10px 0 70px;
}
#content .orga h3 {
  color: #95232d;
  margin: 0;
  font-family: "chainprinter-1", "chainprinter-2", arial;
}
.orga h3 a {
  display: block;
}
.orga h3 a:first-child {
  text-decoration: none;
}

h1,
h2,
h3.title {
  color: #95232d;
  font-family: "chinese-rocks-1", "chinese-rocks-2", helvetica, arial, sans-serif;
  font-size: 60px;
}

#content .title a {
  color: #95232d;
  text-decoration: none;
}

#content .title a:hover {
  color: #D5BA51;
}

h2 {
  clear: both;
  font-family: "chinese-rocks-1", "chinese-rocks-2", helvetica, arial, sans-serif;
  margin: 1em 35px 1em 70px;
}

html {
  background: url(/images/background.jpg) #95232d repeat;
}

body {
  background: url(/images/logo.jpg) no-repeat;
  padding-top: 420px;
}

.su,
.sp {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.sp li,
.su li {
  float: left;
  height: 60px;
  line-height: 60px;
  margin: 0 15px 15px 0;
  padding: 0;
  text-align: center;
  width: 100px;
}

.sp li {
  height: auto;
  line-height: auto;
  margin: 0 15px 30px 0;
  width: 230px;
}

.su img {
  max-height: 60px;
  max-width: 100px;
  vertical-align: middle;
}

.sp img {
  max-height: 100px;
  max-width: 230px;
  vertical-align: middle;
}

.su a {
  display: block;
  text-align: center;
  width: 100px;
}

.rubyists {
  float: left;
  margin: 0 10px 0 0;
}
