<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{ page.title }}</title>
{% if page.description %}    <meta name="description" content="{{ page.description }}" />{% endif %}
    <link rel="stylesheet" type="text/css" href="/stylesheets/blueprint.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/screen.css" />
    <link rel="alternate" type="application/atom+xml" title="ATOM feed" href="http://euruko2011.org/feed.atom" />
    <link rel="alternate" type="application/atom+xml" title="github feed" href="http://github.com/Overbryd/euruko2011_website/commits/master.atom" />
    <link rel="icon" type="image/gif" href="/favicon.ico" />
  </head>
  <body>
    <div id="ribbon">
      <a href="http://github.com/Overbryd/euruko2011_website"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork this website on GitHub" /></a>
    </div>
    <div id="header">
      <div class="container">
        <a href="/">Home</a>
        <a href="/orga.html">People</a>
        
        <a class="float-right" href="/feed.atom">@atom_feed</a>
        <a class="float-right" href="http://github.com/Overbryd/euruko2011_website/commits/master.atom">@github_feed</a>
        <a class="float-right" href="http://twitter.com/euruko">@twitter</a>
        <p class="float-right rubylove">Follow for Updates</p>
      </div>
    </div>
    <div id="main" class="container">
      <div id="content" class="span-16">
        {{ content }}
      </div>
      <div id="sidebar" class="prepend-1 span-6 last">
        <h3>EuRuKo 2011<br/>28th-29th May<br/>Berlin</h3>
        <p>EuRuKo is an annual conference about the Ruby language with an informal atmosphere and lots of opportunities to listen, to talk, to hack and to have fun.
          <br/>
          <b>In 2011 the conference will be held 28th&nbsp;-&nbsp;29 May in Berlin, Germany.</b>
          <br/>
          <a href="http://euruko.org">Have a look at past events &rarr;</a>
        </p>
        <h3>We <span class="rubylove">&hearts;</span> Ruby!</h3>
        <p>
          <a href="http://ruby-lang.org"><img class="left" alt="Ruby Logo" src="/images/ruby_64.png"/></a>
          Ruby is a dynamic, open source programming language with a focus on simplicity and productivity. It has an elegant syntax that is natural to read and easy to write. <a href="http://ruby-lang.org">Read more about Ruby &rarr;</a>
        </p>
        <h3>Rubyists in Europe</h3>
        <p>
          <a href="http://rubyists.eu"><img class="left" alt="Ruby EU Logo" src="http://rubyists.eu/images/rubyists-eu.png"/></a>
          Have a look at <a href="http://rubyists.eu">this map</a>, made by Rock &amp; Code, of Rubyists in the European Union.
          <br/>
          <br/>
        </p>
        
        <h3>Latest announcements</h3>
        <ul class="nolist">
          {% for post in site.posts limit:5 %}
            <li>
              <span class="date">{{ post.date | date: "%d %b %Y" }}</span>
              <a href="{{ post.url }}">
                {{ post.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try{
        var pageTracker = _gat._getTracker("UA-17079644-1");
        pageTracker._trackPageview();
      } catch(err) {}
    </script>
  </body>
</html>
