<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/blueprint.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/screen.css" />
  </head>
  <body>
    <div id="header">
      <div class="container">
        <a href="/">Home</a>
      </div>
    </div>
    <div id="main" class="container">
      <div id="content" class="span-16">
        {{ content }}
      </div>
      <div id="sidebar" class="prepend-1 span-6 last">
        <h3>EuRuKo 2011</h3>
        <p><img class="left" src="images/ruby_64.png"/>
          EuRuKo is an annual conference about the Ruby language with an informal atmosphere and lots of opportunities to listen, to talk, to hack and to have fun.
          <b>In 2011 the conference will be held in Berlin.</b>
        <p>
        <h3>We <span class="rubylove">&hearts;</span> Ruby!</h3>
        <p>
          Ruby is a dynamic, open source programming language with a focus on simplicity and productivity. It has an elegant syntax that is natural to read and easy to write.
        <p>
        <h3>Follow for Updates</h3>
        <p>
          <a href="http://twitter.com/euruko2011">@twitter</a>
          <a href="http://github.com/Overbryd/euruko2011_website">@github</a>
          <a href="/atom.xml">@atom</a>
        </p>
        
        <h3>Latest announcements</h3>
        <ul class="nolist">
          {% for post in site.posts limit:15 %}
            <li>
              <span class="date">{{ post.date | date: "%d %b %Y" }}</span>
              <a href="{{ post.url }}">
                {{ post.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </body>
</html>